{% extends "bakery/layout.html" %}

{% block body %}
{% load static %}
{% load custom_tags %}
<h2>Козунак - 1000г.</h2>

<div  style="width: 100%; justify-content: center; display: flex; flex-wrap: wrap;" class=" myCurrent">

<div class="breaddiv">

<br>
<h4>Съставки:</h4>
<hr>

<div style="display: inline-block; padding-left: 10px; vertical-align: top;">
    <p>• Бяло брашно (без ензими)</p>
    <p>• Прясно мляко</p>
    <p>• Кафява захар</p>
    <p>• Яйца</p>
    <p>• Масло</p>
    <p>• Олио</p>
    <p>• Сол</p>
    <p>• Натурален квас (брашно и вода)</p>
   
</div>
</div>

<div class="breaddiv">

    <br>
    <h4>Хранителни Стойности:</h4>
    <hr>
    
    <div style="display: inline-block; padding-left: 10px; vertical-align: top;">
        <table class="table table-bordered table-dark">
            <thead class="thead-light">
                <tr>
                    <th>
                        Хранителна Стойност
                    </th>
                    <th>
                        на 100 грама
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Енергийна стойност
                    </td>
                    <td>
                        373 kcal
                    </td>
                </tr>
                <tr>
                    <td>
                        Въглехидрати
                    </td>
                    <td>
                        57 г.
                    </td>
                    <tr>
                        <td>
                            Протеини
                        </td>
                        <td>
                            9.5 г.
                        </td>
                        <tr>
                            <td>
                                Мазнини
                            </td>
                            <td>
                                11.6 г.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Сол
                            </td>
                            <td>
                                0.27 г.
                            </td>
                        </tr>
                        
                    </tr>
                </tr>

            </tbody>

        </table>
       
    </div>
       
    
    
    </div>


</div>

<a href="{% url 'index' %}">Обратно</a>

{% endblock %}