{% extends "bakery/layout.html" %}

{% block body %}
{% load custom_tags %}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // metrics
        //
        var maxId = [];
        var pMetrics = document.querySelectorAll(".myMetricsP");
        //get bread with max count
        pMetrics.forEach(function (item) { maxId.push(item.id); })
        var maxWidth = Math.max.apply(Math, maxId);
        console.log(maxWidth)
        //iterate over all p and change width
        //max width is 50%
        pMetrics.forEach(function (item) {
            var pWidth = 50 * item.id / maxWidth;

            item.style.width = pWidth + "%";
        })
        //
        // prohibit editing of oder is processed
        //
        var dates = document.getElementsByClassName("date")
        Array.prototype.forEach.call(dates, function (date) {
            var id = date.id
            var endDate = new Date(document.getElementById(id).innerHTML)
            endDate.setDate(endDate.getDate()-2);
            endDate.setHours(21);
            endDate.setMinutes(00);
            endDate.setSeconds(00);
            console.log(date.id)
            if ( new Date() > endDate  ) {
                var editId = 'e'+id.substring(5);
                var deleteId = 'd'+id.substring(5) ;
                
                document.getElementById(editId).innerHTML=""; 
                document.getElementById(deleteId).innerHTML=""; 
                var processedId = "processed" + editId.substring(1);
                console.log(processedId)
                var proocessedSpan = document.getElementById(processedId);
                proocessedSpan.innerHTML = "Прави се"+" ✅"
                    proocessedSpan.style.color = "Green";
            }

        })





    })
</script>

<h2>Моите Поръчки</h2>
<p>Можете да променяте или триете поръчки. Имайте предвид обаче, че след като квасът за Вашата поръчка бъде приготвен, не можете да я променяте или отказвате повече.
    Причината е, че всеки хляб се приготвя ръчно, единствено за Вас, и отказ на поръчка би означавал изхвърляне на хранителни продукти.
Поръчки, които не можете да променяте, ще бъдат маркирани с "Прави се". </p>
<div style="width: 100%; display: flex; flex-wrap: wrap;" class=" myCurrent">
    {%if not orders%}
    <h4 style="background: orange; padding: 10px;">В момента нямате поръчки.</h4>
    {%endif%}
    {% for order in orders %}
    <div style="width: 300px; background: rgb(221, 228, 221); border-radius: 10px; padding: 10px; margin: 5px;">
        <h3>{{order.breadType}}</h3>
        <hr>
        <div>
            <p style="margin: 5px 0;">Брой: {{order.quantity}}</p>
            <p style="margin: 5px 0;">Готов на: <span class="date"
                    id="date_{{order.id}}">{{order.deliveryTime.date}}</span></p>
            <p style="margin: 5px 0;">Единична цена: {{order.price}}</p>


        </div>
        <div>
            <p>Обща цена: {{order.price|removeDollar | multiply:order.quantity }}</p>
        </div>
        <hr>
        <div>
            <a id=e{{order.id}} href="edit/{{order.pk}}">Промени</a> | <a id=d{{order.id}}
                href="delete/{{order.pk}}">Изтрий</a>
                <span id=processed{{order.id}}></span>
        </div>

    </div>

    {% endfor %}


</div>
<hr>


<div class="myHistory">
    <h2>История на Вашите поръчки</h2>
    Здравейте, {{user}}! Най-често поръчвания от Вас хляб е 
    {% if mostOrdered.count != Null %}
        {{mostOrdered}}.
    {%else%}
        "няма данни".
    {%endif%}
    
    <div class="mySummary">
        <h4>Вашите метрики</h4>
        
        {% for key, value in summaryByType %}
        
        <div id=myMetrics>
            <p class="myMetricsP" id="{{value}}"><span>{{key}}: </span> <span class="myMetricsS"
                    style="float: right;">{{value}} </span></p>
        </div>
        


    </div>

    {% endfor %}
</div>
<table class="table">
    <thead class="thead-light">
        <th>Готов на</th>
        <th>Вид Хляб</th>
        <th>Брой</th>
        <th>Цена 1х</th>

        <th>Цена Общо</th>
    </thead>
    <tbody>
        {% if ordersHistory.count == 0%}
        <tr>
            <td colspan="5">В момента нямате поръчки в историята. Информацията в този раздел ще се обнови автоматично, когато имате готов хляб. </td>
        </tr>
        {% endif %}

        {% for order in ordersHistory %}

        <tr>
            <td>{{order.deliveryTime.date}}</td>
            <td>{{order.breadType}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.price}}</td>

            <td>{{order.price|removeDollar | multiply:order.quantity }}</td>

        </tr>

    </tbody>


    {% endfor %}
</table>

</div>
<hr>

{% endblock %}