{% extends "bakery/layout.html" %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        //default value for price
        document.getElementById('id_price').value = "$3.50"
        document.querySelector('#id_breadType').addEventListener('change', function () {
            switch (document.getElementById('id_breadType').value) {
                case "White Bread":
                    document.getElementById('id_price').value = "$3.50"
                    break;
                case "Country Bread":
                    document.getElementById('id_price').value = "$3.90"
                    break;
                case "Oat Porridge Bread":
                    document.getElementById('id_price').value = "$4.90"
                    break;
                case "Semolina Bread":
                    document.getElementById('id_price').value = "$4.50"
                    break;
                case "100% Rye Bread":
                    document.getElementById('id_price').value = "$6.90"
                    break;
                case "Focaccia":
                    document.getElementById('id_price').value = "$5.00"
                    break;
                case "Toast Bread":
                    document.getElementById('id_price').value = "$3.00"
                    break;
                case "Sweet Brioche":
                    document.getElementById('id_price').value = "$9.90"
                    break;

                default:
                    break;
            }

        })

        document.getElementById('id_breadType').addEventListener('change', function () {
            var print = calcTotalPrice()
            console.log(print)
            document.getElementById('totalPrice').innerHTML = "$ " + print
        })
        var maxDailyLeft = document.getElementById('maxDailyLeft').innerHTML
        document.getElementById('id_quantity').addEventListener('change', function () {
            //calculate final price
            var print = calcTotalPrice()
            document.getElementById('totalPrice').innerHTML = "$ " + print
            //update how any breads can be ordered until capacity is reached
            var orderCount = document.getElementById('id_quantity').value

            var newValue = maxDailyLeft - orderCount
            console.log(newValue)
            if (newValue < 0) {
                document.getElementById('countInfo1').style.display = "none";
                document.getElementById('countInfo2').style.display = "block";
                document.getElementById('countInfo2').innerHTML = "NOTE: Order exceeds daily capacity and will be placed for the next day."
                document.getElementById('countInfo2').classList.add("alert-warning");

            }
            else {
                document.getElementById('countInfo1').style.display = "block";
                document.getElementById('countInfo2').style.display = "none";
                document.getElementById('maxDailyLeft').innerHTML = newValue
            }
        })


    })

    function calcTotalPrice() {
        if (document.getElementById('id_price').value == '') {
            var cleanedPrice = document.getElementById('id_price').placeholder.substring(1)
        }
        else {
            var cleanedPrice = document.getElementById('id_price').value.substring(1)
        }

        var quantity = document.getElementById('id_quantity').value
        if (quantity == '') { quantity = 0 }
        var totalPrice = parseFloat(cleanedPrice) * quantity
        // console.log(cleanedPrice)
        // console.log(quantity)
        // console.log(totalPrice)
        return totalPrice.toFixed(2)

    }

</script>
{{test}}
<h2>Направи поръчка</h2>
<br>
<form action="{% url 'placeorder' %}" method="post">
    {% csrf_token %}
    <div style="width: 100%; display: flex; flex-wrap: wrap;" class=" myCurrent">
        <div style="border: 1px solid lightgray;  width: 500px;">
            <div style="margin-bottom: 20px; padding: 10px; text-align: center; background: lightgray">
                <h6>Данни за поръчката</h6>
            </div>
            <table style="margin-right: auto; margin-left: auto;">
                <tr>
                    <td>
                        <p style="float: right;">Вид хляб: {{form.breadType}}</p>
                    </td>
                    <td>
                        <p style="float: right;">Цена: {{form.price}}</p>
                    </td>
                    <td>
                        <p>Количество: {{form.quantity}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="float: right;">Обща цена: </p>
                    </td>
                    <td>
                        <p style="text-align: center;" id="totalPrice"></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>Вашата обратна връзка:</p>
                        <p>{{form.comment}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p id="countInfo1">Можете да поръчате <span id="maxDailyLeft"
                                style="border-radius: 10px;  padding: 10px; background: rgb(187, 233, 173);">{{maxDailyLeft}}</span>
                            хляба преди достигане на дневния ни лимит.</p>
                        <p id="countInfo2"></p>
                    </td>
                </tr>

            </table>

        </div>


        <div style="border: 1px solid lightgray; width: 500px;">

            <div style="margin-bottom: 20px; padding: 10px; text-align: center; background: lightgray">
                <h6>Вашите данни</h6>
            </div>
            <table style="margin-right: auto; margin-left: auto;">
                <tr>
                    <td>
                        <p style="float: right;">Име: {{form.firstName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Фамилия: {{form.lastName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Град: {{form.city}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Пощенски код: {{form.postCode}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Адрес 1: {{form.addressL1}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Адрес 2: {{form.addressL2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="float: right;">Тел Номер: {{form.tel}}</p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <input style="margin-top: 10px;" type="submit" value="Поръчай">


</form>

{% endblock %}