{% extends "bakery/layout.html" %}

{% block body %}

    <h2>Регистрация</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Потребителско име">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email адрес">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Парола">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Потвърди паролата">
        </div>
        <input class="btn btn-primary" type="submit" value="Регистрирай се">
    </form>

    Вече имате регистрация? <a href="{% url 'login' %}">Вход</a>

{% endblock %}