{% extends "bakery/layout.html" %}

{% block body %}
    <h2>Как да поръчам</h2>
    {{ifAccepted}}
    <div>
        <p>
            Моля, имайте предвид, че имаме дневен капацитет от само 10 хляба. 
            Трябват ни два дни, за да направим Вашия хляб - от замесването на тестото - до печенето. Можете да поръчате до 5 хляба дневно.
            В зависимост от списъка с чакащи поръчки (виж по-долу), времето за изработка на Вашия хляб може да е повече от два дни.
            Поръчки след 21:00ч ще бъдат автоматично прехвърлени за седващия ден.
            За поръчки посетете 
            {% if user.is_authenticated %}
            <a href="{% url 'placeorder' %}">
            Направи Поръчка</a> (изисква регистрация).
            {%else%}
            <a href="{% url 'login' %}">
            Направи Поръчка</a> (изисква регистрация).
                {%endif%}
            Проверете меню 
            {% if user.is_authenticated %}
            <a href="{% url 'myorders' %}">
            Моите Поръчки</a>
            {%else%}
            <a href="{% url 'login' %}">
            Моите Поръчки</a>
                {%endif%}
            за подробна информация относно точен ден, в който Вашият хляб ще бъде готов.
        </p>
        <hr>
    </div>

    <table class="table">
    <thead class="thead-light">
        <th>Σ</th>
        <th>Клиент</th>
        <th>Вид Хляб</th>
        <th>Количество</th>
        <th>Готов на</th>
    </thead>
    <tbody>
    {% if orders.count == 0 %}
    <tr> 
        <td colspan="5">
           В момента няма чакащи поръчки. 
        </td>   
        
    </tr>
    
    {%endif%}
    {% for order in orders  %}
    
    
        
    
    <tr>
        <td>{{order.cumulative}}</td>
        <td>{{order.owner.username}}</td>
        <td>{{order.breadType}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.deliveryTime.date}}</td>
        
    </tr>
   
   </tbody>


    {% endfor %}
</table>

{% endblock %}