
body {
    padding: 10px;
    background: whitesmoke;
}

.myMetricsP, .myMetricsC{
    background: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
}
#id_comment{
    width:100%;
    height: 50px;
}

#mySort th {
    cursor: pointer;
  }

  .ahide{
      display: none;
  }

#divCenetered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 200px;
    background: orange;
}

#bckgr{

    padding: 5%;
    color: rgb(235, 145, 235);
    background-image: url('images/IMG_2944.JPEG');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;

    
}

.color1{
    border-radius: 5px; margin: 5px; padding: 5px; display: block; background: gainsboro; word-wrap:break-word;
}

.color2{
    border-radius: 5px; margin: 5px; padding: 5px; display: block;background: rgb(241, 238, 238) ; word-wrap:break-word;
}

.imagediv img{
    
   width: 100%;
}
.imagediv {
    margin: 10px;
    width: 360px;
    padding: 10px;
    background: lightgrey;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.imagediv .bottom-left {
    position: absolute;
    overflow: hidden;
    bottom: 15px;
    left: 10px;
    right:10px;
    background: white;
    padding: 2px;
    border-radius: 5px;
}

.imagediv:hover {
    opacity: 0.8;
    }
.blogdiv{
    width: 340px; height: auto; margin: 10px; cursor: pointer; background: lightgray; border-radius: 10px; padding: 10px;
}    


.breaddiv{
    width: 350px; height: auto; margin: 10px;  background: lightgray; border-radius: 10px; padding: 10px;
} 

.blogsec{
    margin: 10px;
}